.hdr {
    margin-top: 2rem;
    margin-bottom: 4rem;
    margin-left: 3rem;
    text-align: left;
}

.field {
    width: 100%;
    margin-bottom: 0.5rem;
}

.lbl {
    margin-bottom: 0.25rem;
}

.btn {
    display: inline-block;
    width: 11rem;
    height: 2.5rem;
}

.btnRow{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 600px) {

    .btn {
        display: block;
        width: 100%;
    }

     .btnRow {
        flex-direction: column;
        flex-flow: column-reverse;
    }

    .anchor{
        margin-top: 1rem;
    }

    .hdr {
        margin-top: 4rem;
        margin-bottom: 6rem;
        margin-left: auto;
        text-align: center;
    }
}

.container {
    max-width: 60rem;
    padding-inline: 1rem;
    margin: auto;
}

.subContainer {
    margin: auto;
    max-width: 43rem;
    padding-bottom: 2rem;
}

.anchor {
    display: block;
    cursor: pointer;
}