.toolbar {
    margin-block: 1.5rem;
}

.hdr{
    margin-bottom: 2rem;
}

@media screen and (max-width : 600px) {
    .center {
        text-align: center;
        justify-content: center;
        width: 100%;
    }

    .dboard{
        margin-block: 2rem;
    }
}