.container {
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem;
}

.row {
    display: flex;
    align-items: center;
}

.icon {
    flex-shrink: 0;
}

.txt{
    margin-left: 0.5rem;
}