.hdr {
    margin-bottom: 3rem;
}

.btn {
    width: 14rem;
    height: 2.5rem;
    margin-right: 0;
}

.btn:hover {
    background-color: transparent;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}