.btnContainer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.btnSecondary{
    margin-right: 1rem;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    overflow-y: auto;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 1.5rem 2rem;
    max-height: 90%;
    width: min(90% , 50rem);
    background-color: white;
}

.hdrContainer{
    display: block;
    margin-bottom: 1rem;
}

.helper {
    margin: auto;
    display: block;
}

.toolbar{
    margin-block: 1rem;
}