.field{
    width: 14rem;
}

.btn {
    width: 14rem;
    height: 2.5rem;
    margin-right: 0;
}

.container {
    display: flex;
    justify-content: space-between;
}
.toolbar{
    align-items: flex-end;
}

@media screen and (max-width: 600px) {

    /* For mobile phones: */
    .btn,
    .field {
        width: 100%;
    }
}