.btnContainer {
    display: flex;
    align-items: center;
}

.btnSecondary {
    margin-right: 1rem;
}


.table {
    margin-block: 2rem;
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.helper {
    margin: auto;
    display: block;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    overflow-y: auto;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 1.5rem 2rem;
    max-height: 90%;
    width: min(90% , 50rem);
    background-color: white;
}