.root {
    height: 100vh;
    display: flex;
}

.container {
    position: relative;
    overflow: auto;
    height: 100vh;
    width: 100%;
    min-width: 0;
    flex: 1 1 auto;
    display: flex;
}

@media screen and (max-width: 239px) {
    .container{
        width: 0; 
    }
  }

.openIcon{
    position: absolute;
    height: 1rem;
    top: 0.5rem;
    left: 0.5rem;
    z-index: 5;
}

.content {
    width: min(90%,1024px);
    max-width: 1024px;
    position: absolute;
    left: 50%;
    top: 2rem;
    transform: translate(-50%,0);
}