.container{
    display: flex;
    align-items: center;
}

.item{
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(190, 190, 190);
}

.separation{
    background-color: rgb(190, 190, 190);
    height: 1px;
    min-width: 1.5rem;
    margin: auto;
    flex: 1
}