.root {
    flex-shrink: 0;
    min-width: 0;
    max-width: 240px;
    width: 100%;
    height: 100%;
    background-color: #f7f5f5;
    position: relative;
    z-index: 10;
    transition: transform width;
    transition-duration: .3s;
}

.hidden {
    transform: translateX(-240px);
    width: 0;
}

.shown {
    width: 100%;
    transform: translateX(0);
}


@media screen and (max-width: 239px) {

    /* For mobile phones: */
    .root {
        flex-shrink: 1;
    }
}

.container {
    height: 100%;
    width: 100%;
    min-width: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

.strtch {
    min-width: 0;
}

.disconnect {
    /* overflow: hidden; */
    margin: auto 0 1rem 0;
    min-width: 0;
}

.dvdr {
    margin: auto 0.5rem 1rem 0.5rem;
    min-width: 0;
}

.disconnect a {
    text-align: center;
    text-decoration: none;
    color: inherit;
}

.closeIcon {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.logo {
    margin-block: 2rem;
    text-align: center;
}