.footer{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.submitButton {
    height: 2.5rem;
    width: 10rem;
}

.modalContainer{
    padding: 2rem;
}