.img {
    height: 3rem;
    width: 3rem;
    background-color: grey;
    object-fit: cover;
    border-radius: 50%;
}

.filebtn {
    border-radius: 100px;
    height: 2rem;
}

.stepper{
    display: inline;
}

.alignFlexRight{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.alignRight{
    display: flex;
    align-items: flex-end;
    flex-flow: column;
}

.dashboard{
    margin-bottom: 1rem;
    margin-top: 4rem;
}

.btnContainer {
    margin-top: 4rem;
    display: flex;
    gap: 1rem;
}

.fileBtnContainer{
    display: inline-block;
}

.btn{
    width: 13rem;
}

.outerBtnContainer {
    display: flex;
    justify-content: center;
}

.modelContainer {
    padding: 2rem;
    border-radius: 50px; 
    max-width: 90%;
}

@media screen and (max-width : 600px) {
    .center{
        text-align: center;
        width: 100%;
    }

    .img {
        height: 5rem;
        width: 5rem;
        margin: auto;
    }
}