.hdr {
    margin-bottom: 2rem;
}

.btnContainer {
    display: flex;
    margin-left: auto;
    justify-content : flex-end;
    gap: 1rem;
}

.btn {
    width: 14rem;
    height: 2.5rem;
    margin-right: 0;
    margin-bottom: 2rem;
}

.btn:hover {
    background-color: transparent;
}

.field {
    width: 100%;
    margin-bottom: 1rem;
}