.hdr {
    margin-bottom: 3rem;
}

.btnContainer {
    display: flex;
    margin-left: auto;
    justify-content : flex-end;
    gap: 1rem;
}

.btn {
    width: 10rem;
    height: 2.5rem;
    margin-right: 0;
    margin-bottom: 2rem;
}

.field {
    width: 100%;
    margin-bottom: 1rem;
}

.container{
    width: min(90%, 40rem);
    margin: auto;
}